// Variáveis para breakpoints
$breakpoint-small: 576px; // Exemplo: smartphones
$breakpoint-medium: 768px; // Exemplo: tablets
$breakpoint-large: 992px; // Exemplo: laptops/desktops
$breakpoint-extra-large: 1200px; // Exemplo: monitores grandes


#fixedButtons {
    position: fixed;
    z-index: 99;
    bottom: 50px;
    right: 50px;
    display: flex;
    flex-direction: row;
}

#fixedButtons>* {
    margin-left: 10px;
}

.lateral-margin {
    margin-left: 10px;
    margin-right: 10px;
}

// host -> só vai mudar para esse componente
// ng-deep -> irá mudar dados internos de estilização do componente
:host ::ng-deep .mat-horizontal-content-container {
    padding: 0 !important;
}


// Estilos para dispositivos pequenos (exemplo: smartphones)
@media screen and (max-width: $breakpoint-small) {
    #formBase {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        padding: 10px;
    }

    #fixedButtons {
        bottom: 30px;
        right: 30px;
    }

    .lateral-margin {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.w-full {
    width: 100%;
}