#card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--app-spacing-sm);
}

.button-container {
  display: flex;
  flex-direction: row;
  /* Joga o botão para o final */
  justify-content: flex-end;
  padding-top: var(--app-spacing-xs);
}
